:root{
    --color-white:#FFFFFF;
    --color-main:#212121;
    --color-blue:#2196F3;
    --color-black:#000000;
    --color-grey:#757575;
    --bcg-team:#F5F4FA;
    --address-color:rgba(255, 255, 255, 0.6);
    --bcg-hero:#2F303A;
    --font-ralewey:'Raleway', sans-serif;
    --font-roboto:'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-roboto) ;
    color: var(--color-main);
}
.section{
padding-top: 94px;
    padding-bottom: 94px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}
.title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}
.links{
    text-decoration: none;
}

/* ---------------Header---------------- */

.header {
    border-bottom: 1px solid #ECECEC;
}
.header-container{
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

}
.logo-header{
    margin-right: 93px;
}

.logo-white {
    font-family: var(--font-ralewey);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

.logo-main, .current {
    color: var(--color-blue);
}
.navigation{
    margin-right: auto;
}
.nav-list{
    display: flex;
    gap: 50px;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-main)

}

.header-nav-link:hover,
.header-nav-link:focus,
.current{
    color: var(--color-blue);
}
.contacts-list{
    display: flex;
    gap: 50px;
}

.header-nav-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}
.header-nav-contacts:hover,
.header-nav-contacts:focus{
    color: var(--color-blue);
}



/* ---------------Hero---------------- */
.main {
}

.hero {
    background: var(--bcg-hero);
    padding-top: 200px;
    padding-bottom: 200px;
    }

.hero-container{
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn {
    
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border:none;
    color: var(--color-white);
    background: var(--color-blue);
    cursor: pointer;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    
    
   
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ---------------Особливості---------------- */


.features {

}
.features-container{

}
.features-title {}

.features-list {
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    margin-right: auto;
}


.features-list-item {
     width: calc((100% - 90px)/ 4);

}

.features-list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;

}

.features-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}




/* ---------------Чим займаємось---------------- */


.jobs {}
.jobs-container{
}
.jobs-title {
    margin-bottom: 50px;
}

.jobs-list {
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.jobs-list-item {
    width: calc((100% - 60px) / 3);
        
}

.jobs-list-photo {}




/* ---------------Команда---------------- */




.team {
    background-color: var(--bcg-team);
}
.team-container{
    
}

.team-title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.team-list-item {
    background-color: var(--color-white);
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 60px) / 3);
}

.team-list-photo {
}

.team-list-title { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-main);
    margin-bottom: 30px;
    margin-top: 30px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}




/* ---------------footer---------------- */


.footer {
    background-color: var(--bcg-hero);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container{
    
}

.logo-footer{
    display: inline-block;
    margin-bottom: 20px;
}
.logo-black{
    font-family: var(--font-ralewey);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.address {
    font-style: inherit;
}
.address-list{

}
.address-list-item:not(:first-child){
    margin-top: 9px;
}

.address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-color);
}
.adress-item-bold{
    color: var(--color-white);
}
.address-item:hover,
.address-item:focus{
color: var(--color-blue);
}



/* ---------------ПОРТФОЛІО---------------- */





/* ---------------Галерея---------------- */
.main-portfilio {}
.container-gallery{

}

.gallery {}
.container-gallery-btn{

}

.gallery-links {
    display: flex;
    margin-bottom: 50px;
    column-gap: 8px;
    justify-content: center;



}


.gallery-links-item {

}

.gallery-btn {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        background-color: var(--bcg-team);
        
        cursor: pointer;
        padding: 6px 22px;
}
.btn{

        background: var(--bcg-team);
        border-radius: 4px;
    border: none;

}
.gallery-btn:hover,
.gallery-btn:active{
    color: var(--color-white);
    background: var(--color-blue);
}
.gallery-photo{
    display: block;
    width: 100%;
    height: auto;

}
.galley-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

   
}

.gallery-list-item {
    box-sizing: border-box;
   
    width: calc((100% - 60px)/ 3);
    padding-bottom: 20px;
    padding-right: 10px;


}
.border-gallery{
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}


.gallery-list-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;


}

.gallery-list-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-grey);

}

